* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    position: absolute;
    top: 50px;
    left: 50px;
}

h2 {
    padding: 15px;
}

textarea {
    resize: none;
}

button {
    display: block;
    padding: 8px 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3b873f;
}